<div class="row">
    <div class="col s6 text-center">
        <h4>
            meu perfil
        </h4>
    </div>
</div>

<div class="row">
    <div class="col">
        <strong>Nome: </strong>
        {{profile.name}}
    </div>
</div>


<div class="row">
    <div class="col">
        <strong>email: </strong>
        {{profile.email}}
    </div>
</div>

<div class="row">
    <div class="col">
        <strong>Senha: </strong>
        {{profile.password}}
    </div>
</div>

<button type="button" disabled class="btn btn-primary btn-block mb-4">
    Editar
</button>